html,
body,
#root,
.App,
.cubes {
    height: 100%;
}

.cubes {
}

.cubes-header {
    height: 100px;
    /* background-color: blue; */
}

.cubes-header .avatar {
    float: left;
}

.cubes-field {
    height: calc(100% - 100px);
    border: 1px solid red;
    position: relative;
    background: url('./bg.png');
}

.cube-container {
    position: absolute;
}

.cube-container.selected {
    border: 2px solid red;
}

.cube {
    display: inline-block;
    height: 100px;
    width: 100px;
    background: url('./cubes.png');
    background-size: 435px;
}

.cube.creeper {
    background-position: 0 0;
}

.cube.zombie {
    background-position: -112px 0;
}
